source https://api.nuget.org/v3/index.json
storage: none
framework: auto-detect
nuget Expecto
nuget FSharp.Core content: none
nuget FSharp.SystemTextJson
nuget Npgsql
nuget Dapper
nuget System.Text.Json